body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#logo{
    width: 3rem;
    height: auto;
}

.header{
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    font-size: large;
}

.header .left{
    display: flex;
    gap: 2rem;
}

ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

a{
    text-decoration: none;
}